/* 共通のスタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #0e0b39;
  color: #eeea02;
}

/* ヘッダー */
.header {
  background-color: #000000;
  padding: 15px;
  text-align: right;
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
}

.header a:hover {
  text-decoration: underline;
}

/* タイトル */
.title {
  text-align: center;
  margin: 20px 0;
}

.title h1 {
  font-size: 2em;
  color: #eeea02;
}

/* 注意書き */
p {
  text-align: center;
  margin: 10px;
}

p strong {
  color: #e74c3c;
}

/* リンク */
.links {
  text-align: center;
  margin: 20px 0;
}

.links a {
  display: inline-block; /* ブロック要素化 */
  margin: 5px 10px;
  padding: 5px 0; /* ボタン内の余白 */
  width: 100px; /* 固定幅 */
  height: 40px; /* 固定高さ */
  background-color: #eeea02;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
  text-align: center; /* テキストの水平中央揃え */
  line-height: 40px; /* 高さと一致させて垂直中央揃え */
}

.links a:hover {
  background-color: #eeea02c7;
}
/* フッター */
.footer {
  background-color: #333;
  color: white;
  padding: 15px;
  margin-top: 20px;
  font-size: 0.9em;
}

.footer p {
  margin: 0;
  text-align: left;
}

/* レスポンシブ対応 */
@media (max-width: 600px) {
  .title h1 {
    font-size: 1.5em;
  }

  .links a {
    font-size: 0.9em;
    padding: 8px 15px;
  }
}
