.current{
	margin-left: 0px;
}
#container{
	display:flex;
	flex-direction:column;
	align-items:center;
}
#ja{
	font-size:60px;
	margin:0px;
}
#result{
	font-size:70px;
	color:brown;
	transition:0.5s;
	margin:10px;
	opacity:1;
}
#result.fade{
	opacity:0;	
}
#entry{
	font-size:80px;
	margin:0px;
	width:600px;
	height:90px;
	text-align:center;
}

#img{
	width:300px;
	height:300px;
	margin:20px;
}
#btn{
	font-size:30px;
	cursor:pointer;
}
body {
  background-color: #bbeef7;; 
}